$primary-font: Montserrat;
$secondary-font: Montserrat Black;
$main-color: #fff;
$secondary-color: #ed4296;

%h1_st {
  font-family: $primary-font;
  color: $secondary-color;
}

%wh_hundred {
  width: 100%;
  height: 100%;
}
